*.aux
*.bbl
*.blg
*.log
*.out
latex.pdf
*.synctex.gz
*.toc
.idea/
.ide/
.gradle/
*.kate-swp
.directory
_minted*/
*.nav
*.snm
*.vrb
build/
out/
phd-period-abroad-proposal.fdb_latexmk
phd-period-abroad-proposal.fls
phd-period-abroad-proposal.pdf